<form>
  <input type="hidden" name="payementDetailId" [value]="service.formData.payementDetailId" />

  <div class="form-group">
    <label>Card Name</label>
    <input class="form-control form-control-lg" placeholder="Full Name" name="cardOwnerName" #cardOwnerName="ngModel"
      [(ngModel)]="service.formData.cardOwnerName">
  </div>

  <div class="form-group">
    <label>Card Number</label>
    <input class="form-control form-control-lg" placeholder="Card Number" name=" cardNumber" #cardNumber="ngModel"
      [(ngModel)]="service.formData.cardNumber">
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Security Code</label>
      <input class="form-control form-control-lg" placeholder="CVV" name="securityCode" #securityCode="ngModel"
        [(ngModel)]="service.formData.securityCode">
    </div>

    <div class="form-group col">
      <label>Valid through</label>
      <input class="form-control form-control-lg" placeholder="MM/YY" name="expirationDate" #expirationDate="ngModel"
        [(ngModel)]="service.formData.expirationDate">
    </div>
  </div>


</form>
