/* You can add global styles to this file, and also import other style files */
.form-group label{
    color: grey;
}

.form-group input{
    font-weight: 400;
}

.form-group input::placeholder{
    color: #c0bdbd;
    font-weight: 300;
}

thead th{
    font-weight: 400;
}

table tbody tr:hover{
    background-color: #226BE8;
    color: white;
    cursor: pointer;
}

input.invalid{
    border-color: red;
}

i,btn{
    cursor: pointer;
}
